* {
  padding: 0;
  margin: 0;
  background: #282828;
  color: #ebdbb2;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
main {
  border: 2px solid #ebdbb2;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  padding: 10px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
h1,
h2 {
  margin: 20px;
}
input {
  font-size: 16px;
  margin: 8px;
}
button {
  padding: 4px;
  margin: 8px;
}
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
