@import "tailwindcss";
@font-face {
  font-family: "Berkeley Mono";
  src: url("fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
body {
  font-family: Berkeley Mono, sans-serif;
}

li {
  margin: 0.2rem;
  padding: 0.2rem;
}

.links {
  text-align: center;
}
